body {
  font-family: sans-serif;
  background-color: #f3f7f8;
  margin: auto;
  padding: auto;
  width: 1100px;
}

.cv-container {
  width: 900px;
  margin: 30px auto;
  background-color: #e7f8fe;
  padding: 25px;
  box-sizing: border-box;
}

.entete {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas: "info photo";
  gap: 20px;
  align-items: center;
  padding: 15px 20px;
  border-radius: 6px;
}

.employee-photo {
  grid-area: photo;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: grid;
  background-color: #f0f0f0;
  border: 6px solid #2BAAAD;
  margin: auto;
  position: relative;
  background-size: cover;
  background-position: center;
}

.bloc-info {
  grid-area: info;
}

.name {
  font-family: 'Oswald', sans-serif;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 10px;
  font-size: 50px;
  font-weight: bold;
}

.first-name {
  color: #1fa49c;
}

.family-name {
  color: #333;
}

.contact{
margin-top: 8px;
}

.contact-item {
  position: relative;
  padding-left: 24px;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 1.4;
}

.contact-item.photo {
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left center;
}

.job-title {
  background-color: #1fa49c;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin: 20px 0;
  font-size: 18px;
}

.cv-body {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 20px;
}

.left-column {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

.title-section {
  background-color: #666;
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.title-section-aboutMe {
  font-weight: bold;
  color: #666;
  padding: 5px 10px;
  font-size: 15px;
  margin-bottom: 8px;
  margin-right: 15px;
}

.subhead {
  font-weight: bold;
  color: black;
  margin-top: 10px;
  font-size: 15px;
}

.text {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.list{
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.right-column {
  padding: 15px;
  box-sizing: border-box;
}

.experience {
  margin-bottom: 15px;
}

.dates {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 5px;
}

.desc {
  font-size: 13px;
  line-height: 1.5;
}