* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(darkblue, cyan);
}

divx {
    border: 1px solid red;
}

.mainContainer {
    width: 900px;
    margin: auto;
    border: 3px solid black;
    background-color: white;
    padding: 2px;
}

.movieTitle {
    padding: 6px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
}

.movieDescription {
    display: grid;
    grid-template-columns: 69.75% auto;
}

.poster {
    width: 100%;
    margin-top: 2px;

}

.distribution {
    text-transform: uppercase;
    margin-top: 2px;
    margin-left: 2px;
    padding: 6px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #00aeff;
}

.actorsList {
   display:block;
   padding-top: 24px;
}
.actorContainer {
    display: grid;
    grid-template-columns: 80px auto;
    padding:3px;
    padding-left:6px;
    margin-bottom: 26.5px;
}
.actorPhoto {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.actor {
    align-content: center;
    margin-top: 3px;
    margin-left: 1px;
}

.actorName {
    font-family: cursive;
    font-size: 1.2em;
}

.role {
    font-size: 1.1em;
    color: gray;
}

.synopsisHead {
    margin-top: 4px;
    padding: 6px;
    font-size: 1.5em;
    font-weight: bold;
}

.synopsisText {
    padding: 6px;
    font-size: 1.2em;
    text-align: justify;
}