body {
    width: 1000px;
    margin: auto;
}

table {
    margin-top: 60px;
    width: 100%;
    border-collapse: collapse;
    background-image: url(../images/P7R4p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

td,
th {
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.entete {
    color: white;
    background-color: rgb(70, 70, 70);
    height: 30px;
    font-size: 2em;
}

.heures {
    font-size: 0.85em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jours {
    width: 19%;
    font-size: 1.5em;
}

.plage {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.liberationCommune {
    background-color: gray;
}

._420_KB1 {
    background-color: dodgerblue;
}

._420_KB2 {
    background-color: blue;
}

._420_KB3 {
    background-color: cyan;
}

._420_KBG {
    background-color: green;
}

._201_KB1 {
    background-color: orangered;
}

._340_101 {
    background-color: magenta;
}

._601_101 {
    background-color: goldenrod;
}