.titre {
    background-color: aqua;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}
.section {
    display: flex;
    border: 1px solid red;
    gap:8px;
    padding: 8px;
}

.colonne {
    flex: 1;
    background-color: lightskyblue;
    border: 1px solid blue;
}

.large {
    flex:3;
}

.colonne p {
    text-align: justify;
    margin-bottom: 12px;
}
.image {
    width: 100%;
}

.imageBlock {
    width:100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
