.main {
    width: 1100px;
    margin: auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 15% 200px auto 150px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.banner {
    width: 100%;
    height: 330px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.group {
    font-size: 28px;
    margin-bottom: 10px;
}

.cell {
    height: 60px;
    border-bottom: 1px solid black;
    padding: 10px;
}

.text {
    display: grid;
    align-items: center;
    font-size: 20px;
}

.gridHeader {
    font-size: 22px;
    color: white;
    font-weight: bold;
    background-color: rgb(218, 39, 50);
    height: 45px;
}

.flag {
    width: 100%;
    height: 60px;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}