:root {
    --gap: 5px;
    --trans-speed: 0.5s;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;

    &>* {
        padding: var(--gap);
        margin: var(--gap);
    }

    .header {
        display: inline;
    }

    .footer {
        display: inline;
    }

    .main {
        flex: auto;
        min-height: 5vh;
    }

    .scroll {
        overflow-y: auto;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headerMenu {
    display: grid;
    grid-template-columns: 4vw auto;
    align-items: center;
}

.menu {
    .menuItem {
        display: inline;
        font-size: 3vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        color: black;
        border-radius: 5px;
        /* top/bottom left/right */
        padding: 3px 6px;
        /* ellipsis*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: white;
            background-color: black;
        }
    }

    a {
        display: block;
        text-decoration: none;
    }

    .active {
        color: dodgerblue !important;
    }
}

.siteIcon {
    background-image: URL('../images/faviconBig.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3.75vw;
    height: 3.75vw;
}

.imageFrame {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
        scale: 1.05;
        transition: var(--trans-speed);
    }

    transition: var(--trans-speed);
}

/* les affaires du calendrier! */

.month-card {
  width: 280px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: white;

  display: flex;
  flex-direction: column;
}

.month-card h2 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: Arial, sans-serif;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.3rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.day-name {
  font-weight: bold;
  font-size: 0.75rem;
  font-family: Arial, sans-serif;
}

.day {
  padding: 0.4rem 0;
  border-radius: 50%;
}

.holiday {
  color: orange;
  font-weight: bold;
  cursor: pointer;
}

.empty {
  visibility: hidden;
}