* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(darkblue, cyan);
    width: 900px;
    margin: auto;
}
.movieDescriptionTable {
    border: 3px solid black;
    background-color: white;
   margin-top:30px;
    margin-bottom: 30px;
}
.movieTitleCell {
    padding: 6px;
    font-size: 3em;
    background-color: black;
    color: white;
}
.posterCell {
    width: 60%;
}
.posterImg {
    width: 100%;
}
.distributionCell {
    text-transform: uppercase;
    padding: 6px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #00aeff;
}
.actorPhotoCell {
    width: 80px;
    padding-left: 4px;
    padding-right: 4px;
}
.actorPhotoDiv {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    display: inline-block;
}
.actorNameAndRoleCell {
    font-family: cursive;
}
.actorNameLink {
    color: dodgerblue;
    font-family: cursive;
    font-size: 1.2em;
    text-decoration: none;
}
.actorRoleDiv {
    font-size: 1.0em;
    color: gray;
}
.synopsysCell {
    border: 1px solid gray;
}
.synopsisHeadDiv {
    padding: 6px;
    font-size: 1.5em;
    font-weight: bold;
    color: dodgerblue;
}
.synopsisTextDiv {
    padding: 6px;
    font-size: 1.2em;
    text-align: justify;
}
